extends ../layout

block page-header
    = title

block main-content
    div#response
    table.table
        thead
            tr
                th Provider
                th Display Name
                th Name
                th Emails
                th Roles
                th Actions
        if users.length > 0
            tbody
                - each user in users
                  tr
                    td.user-id= user.provider
                    td.display-name= user.displayName
                    td.name= user.name.givenName + ' ' + user.name.familyName
                    td.email= user.emails[0].value
                        if user.emails.length > 1
                            div and #{user.emails.length - 1} more
                    td.roles
                        span tbd
                    td.actions
                        a.delete(href='/admin/user/#{user._id}') Delete
        else
            tbody
                tr: td(colspan=6) There are no current users.


append scripts
    script
