.page-header
    h1= title

.row
    .span12
        div#response
        table.table
            thead
                tr
                    th.span3 name
                    th.span1 size
                    th.span1 lives
                    th.span1 max time
                    th.span3 pack
                    th.span3 actions
            if games.length > 0
                tbody
                    - each game in games
                      tr(data-hash='#{game.hash}', data-width='#{game.width}', data-height='#{game.height}')
                        td.name= game.name
                        td.size  #{game.width}x#{game.height}
                        td.lives
                            i.icon-heart 
                            |  x 
                            b #{game.lives}
                        td.maxTime= game.maxTime
                        td.pack
                            select.span3(name='pack', data-update-url='/admin/game/#{game._id}/update-pack')
                                option(value='') none
                                - each pack in packs
                                  option(value='#{pack._id}', selected=(String(game.pack) == String(pack._id)))= pack.name
                        td.actions.btn-group
                            a.preview.btn.dropdown-toggle(data-toggle='dropdown') preview
                                span.caret
                            .dropdown-menu.preview-thumbnail(style='display:none;')
                            a.btn.play(href='/game/#{game._id}') play
                            a.btn.btn-danger.delete(href='/admin/game/#{game._id}/delete') delete  
            else
                tbody
                    tr: td(colspan=6) There are no games.
            tfoot
                tr
                    td(colspan=5)
                    td: a.btn.btn-primary(href='/editor') new game

        .modal.fade#delete-modal
            .modal-header
                a.close(data-dismiss='modal') ×
                h3 "But we hardly know each other!" - game
            .modal-body
                p.preview-thumbnail
                p Are you sure you want to delete this game? 
            .modal-footer
                a.btn.btn-danger delete
                a.btn(data-dismiss='modal') keep

- scripts.push('/js/admin/games.js')
- scripts.push('/bootstrap/js/bootstrap-alert.js')
- scripts.push('/bootstrap/js/bootstrap-transition.js')
- scripts.push('/bootstrap/js/bootstrap-modal.js')