.page-header
    h1= title

.row
    .span12
        div#response
        table.table
            thead
                tr
                    th.span4 name
                    th.span1 active
                    th.span1 games
                    th.span3 created
                    th.span3 actions
            if packs.length > 0
                tbody
                    - each pack in packs
                      tr
                        td.name= pack.name
                        td.active
                            input(type='checkbox', name='#{pack._id}', checked=pack.isActive, data-update-url='/admin/pack/#{pack._id}/activate')
                        td.games= pack.games.length
                        td.created: span.timeago(title='#{pack.created.toJSON()}')= pack.created.toDateString()
                        td.actions.btn-group
                            a.btn.play(href='/pack/#{pack._id}') view
                            a.btn.btn-danger.delete(href='/admin/pack/#{pack._id}/delete') delete
            else
                tbody
                    tr: td(colspan=5) There are no packs.
            tfoot
                tr 
                    td.name: div.control-group: div.controls: input.span4(type='text', name='name', required)
                    td(colspan=3)
                    td: a.btn.btn-primary.new-pack(href='/admin/pack/create') create

        script#row(type='text/template')
            tr
                td.name {{name}}
                td.active
                    input(type='checkbox', name='{{_id}}', checked=true, data-update-url='/admin/pack/{{_id}}/activate')
                td.games {{games.length}}
                td.created: span.timeago(title='{{created}}') {{createdDate}}
                td.actions.btn-group
                    a.btn.play(href='/pack/{{_id}}') view
                    a.btn.btn-danger.delete(href='/admin/pack/{{_id}}/delete') delete

        .modal.fade#delete-modal
            .modal-header
                a.close(data-dismiss='modal') ×
                h3 "Goodbye cruel world..."
            .modal-body
                p Are you sure you want to delete this pack? Any games this pack has will be disassociated. 
            .modal-footer
                a.btn.btn-danger delete
                a.btn(data-dismiss='modal') keep

- scripts.push('/js/admin/packs.js')
- scripts.push('/js/lib/jquery.timeago.js')
- scripts.push('/bootstrap/js/bootstrap-alert.js')
- scripts.push('/bootstrap/js/bootstrap-transition.js')
- scripts.push('/bootstrap/js/bootstrap-modal.js')