
.page-header
    h1= game.name

.row
    .span12
        .picross-game(data-hash='#{game.hash}', data-width='#{game.width}', data-height='#{game.height}', data-lives='#{game.lives}', data-max-time='#{game.maxTime}')
