<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @{
        Bundles.Reference("content/css");
    }

    @Bundles.RenderStylesheets()
    
    @{
        Bundles.Reference("content/scripts/lib/modernizr-2.0.6-development-only.js", "head");
    }
    @Bundles.RenderScripts("head")
</head>

    <body>
        @RenderBody()
        
        @{
            Bundles.Reference("content/scripts/picross.js");
        }
        @Bundles.RenderScripts()
        @RenderSection("InlineScripts", required: false)
    </body>
</html>
